html {
	font-size: 125%;
	line-height: 1;
}


h2 {
	font-size: 1em;
}

h2, p {
	margin: 0;
}

	p + * {
		margin-top: 1em;
	}

	h2 + p {
		margin-top: 1em;
	}


.input {
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
}


input {
	overflow-x: auto;
	white-space: nowrap;
}






.wrapper {
	/*This part is important for centering*/
	display: grid;
	place-items: center;
	overflow: auto;
}

.typing-demo {
	animation: typing 2s steps(22), blink .5s step-end infinite alternate;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-size: 1em;
	outline: none; /* Add this line to remove the default text cursor */
	pointer-events: none; /* Disable pointer events on the pseudo-element */
	text-align: center;
}

@keyframes typing {
	from {
		width: 0
	}
}

@keyframes blink {
	50% {
		border-color: transparent
	}
}